body {
    background-image: url("/img/theatrecurtains.jpg");
    background-size: cover;
    height: 1000px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    color: #f7c954;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #f7c954;
    font-size: 50px;
}

h2 {
    color: #2e0151;
    background: #f7c954;
    border-radius: 40px;
    margin: 20px;
    padding: 10px;
}

.displayinfo {
    color: #210d35;
    background: #efce94;
    border: thick;
    border-radius: 40px;
    padding: 15px;
    min-height: 150px;
}

button {
    height: 50px;
    width: 170px;
    border-radius: 15px;
    margin: 10px;
    font-family: 'Lobster Two', cursive;
    background-color: #f7e1c5;
}

a {
    color: #c39ee2;
    border: thin;
}

a:hover {
    color: #e58c82;
}

.stage {
    color: red;
}

.menufoot {
    text-align: center;
    color: #55039e;
    border: thin;
    padding-top: 10px;
}

.welcome {
    min-height: 150px;
}

.menuitem {
    padding: 15px;
}
