@{
    Layout = "_Layout";
}

<h2>You added this venue:</h2>

<div class="displayinfo">
    <h3>Venue Name: @Model.GetName()</h3>
    <h3>Venue Contact: @Model.GetVenueContact()</h3>
    <h3>Venue Phone Number: @Model.GetPhoneNumber()</h3>
</div>
