@{
    Layout = "_Layout";
}

<h2>Add A New Band</h2>

<div class="displayinfo">
    <form action="/bands/add" method="post">
        <label for="band-name">Band Name:</label>
        <input id="band-name" name="band-name" type="text"><br>

        <label for="band-manager">Band Manager:</label>
        <input id="band-manager" name="band-manager" type="text"><br>

        <label for="band-manager-phone">Manager Phone:</label>
        <input id="band-manager-phone" name="band-manager-phone" type="text"><br>

        <label for="band-leader">Band Leader:</label>
        <input id="band-leader" name="band-leader" type="text"><br>

        <label for="band-leader-phone">Leader Phone:</label>
        <input id="band-leader-phone" name="band-leader-phone" type="text"><br>

        <button type="submit">Add</button>
    </form>
</div>
