@{
    Layout = "_Layout";
}

<button class="stage" type="submit" name="button"><a href="/venues">List Venues</a></button>
<button class="stage" type="submit" name="button"><a href="/venues/new">Add New Venue</a></button>
<button class="stage" type="submit" name="button"><a href="/bands">List Bands</button>
<button class="stage" type="submit" name="button"><a href="/bands/new">Add New Band</button>
