<button type="submit" name="button"><a href="/venues">List Venues</a></button>
<button type="submit" name="button"><a href="/venues/new">List Venues</a></button>
<button type="submit" name="button"><a href="/bands">List Bands</button>
<button type="submit" name="button"><a href="/bands/new">List Bands</button>
