@{
    Layout = "_Layout";
}

<div class="welcome">
    <button class="stage" type="submit" name="button"><a href="/venues">List Venues</a></button>
    <button class="stage" type="submit" name="button"><a href="/venues/new">Add New Venue</a></button>
    <button class="stage" type="submit" name="button"><a href="/bands">List Bands</a></button>
    <button class="stage" type="submit" name="button"><a href="/bands/new">Add New Band</a></button>
</div>
