@{
    Layout = "_Layout";
}

<h2>Add A New Venue</h2>

<div class="displayinfo">
    <form action="/venues/add" method="post">
        <label for="venue-name">Venue Name:</label>
        <input id="venue-name" name="venue-name" type="text">

        <label for="venue-contact">Venue Contact:</label>
        <input id="venue-contact" name="venue-contact" type="text">

        <label for="venue-phone-number">Venue Phone Number:</label>
        <input id="venue-phone-number" name="venue-phone-number" type="text">

        <button type="submit">Add</button>
    </form>
</div>
