<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Kingston Band Tracker</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
      <link rel="stylesheet" href="/css/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Marko+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster+Two|Permanent+Marker" rel="stylesheet">
      <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    </head>

  <body>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><h1>Kingston Band Tracker</h1></div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">@RenderBody()</div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p><a href="/">Return Home</p></a></div>
        <div class="col-md-4"></div>
    </div>

    <center>&copy 2017 K.Schulze</center>
  </body>
</html>
